{% extends 'base.html' %}

<!-- {% comment %}MyPhotos - Home page {% endcomment %} -->

{% block titleblock %} Home {% endblock %}

{% block style_css %}
	.odd { background-color:#90EE90; }
	.pair { background-color:#5ACC5A; }
{% endblock %}

{% block headblock %}
	<h1>MyPhotos</h1>
{% endblock %}

{% block contentblock %}
	<p>Now we have registered:
		{% with tot=photos.count %}
			{{tot}} photo{{total|pluralize}}
		{% endwith %}
	</p>
		<ul>
			{% for datareg in photos %}
			<li class="{% cycle 'odd' 'pair' %}">{{datareg.phtitle}}</li>
			{% empty %}
			<li>There isn't registered photos yet.</li>
			{% endfor %}
		</ul>
{% endblock %}