{% extends 'base.html' %}

{% block titleblock %} {{photo.phtitle}} {% endblock %}

{% block headblock %} 
  <h1>{{photo.phtitle|title}}</h1>
{% endblock %}

{% block contentblock %}
		<div id='author'>
			<h2>Author</h2>
			<p>{{photo.phauthor}}</p>
		</div>
		<div id='site'>
			<h2>Location</h2>
			<p>{{photo.phsite}}</p>
		</div>
		<div id='notes'>
			<h2>Notes</h2>
			<p>{{photo.phnotes}}</p>
		</div>
		<div id='reference'>
			<img src='{{MEDIA_URL}}{{photo.phimage}}'>
		</div>
		<div id='comments'>
			<h2>Comments</h2>
				{% for item in comments %}
					<p>{{item.text}}</p>
				{% empty %}
					<p>No registered comments</p>
				{% endfor %}
		</div>
		<footer>
			<p>Registered {{ photo.phtime_registered|date:'SHORT_DATETIME_FORMAT' }} by {{photo.user}}</p>
		</footer>
{% endblock %}