{% extends 'base.html' %}

{% block titleblock %} Registered users {% endblock %}

{% block style_css %} {% endblock %}

{% block headblock %}
	<h1>Users</h1>
{% endblock %}

{% block contentblock %}
	<ul>
		{% for datareg in users %}
		<li>{{datareg.first_name|capfirst}} {{datareg.last_name|capfirst}} - {{datareg.username}} - <em>{{datareg.email}}</em>
			<ul>
				{% for item in photos %}
					{% if item.user == datareg %}
						<li>{{item}}</li>
					{% endif %}
				{% empty %}
					<li>This user hasn't registered photos yet</li>
				{% endfor %}
			</ul>
		</li>
		{% empty %}
		<li>There aren't registered users.</li>
		{% endfor %}
	</ul>
{% endblock %}